<footer class="text-center text-white" style="background-color: #f1f1f1">
  <div class="container pt-4">
    <section class="mb-4">
      <a
        mdbRipple
        rippleColor="dark"
        target="_blanc"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/whitebear1337"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        mdbRipple
        rippleColor="dark"
        target="_blanc"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://twitter.com/?lang=bg"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        mdbRipple
        rippleColor="dark"
        target="_blanc"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://mail.google.com/mail/u/3/#inbox"
        role="button"
        ><i class="fab fa-google"></i
      ></a>
      <a
        mdbRipple
        rippleColor="dark"
        target="_blanc"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/mrdv1.0/"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        mdbRipple
        rippleColor="dark"
        target="_blanc"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/ali-muradov-285891218/"
        role="button"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a
        mdbRipple
        rippleColor="dark"
        target="_blanc"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/Muradov-dot-exe"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>

  <div
    class="text-center text-dark p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2023 Copyright:
    <a
      class="text-dark"
      target="_blanc"
      href="https://www.facebook.com/BarMorado/"
      >Muradov</a
    >
  </div>
</footer>
